<h1 class='header'>Hello there!</h1>

<form method="POST" action="/bday_info">

<input type="text" name="name" value="Enter name"/>

<h2 class='header'>When's your birthday?</h2>
<label for="day">Day: </label>
<input type="number" name="day" id="day"/>
<label for="month">Month: </label>
<select name="month" id="month">
  <option value="January">January</option>
  <option value="February">February</option>
  <option value="March">March</option>
  <option value="April">April</option>
  <option value="May">May</option>
  <option value="June">June</option>
  <option value="July">July</option>
  <option value="August">August</option>
  <option value="September">September</option>
  <option value="October">October</option>
  <option value="November">November</option>
  <option value="December">December</option>
</select>

<input type="submit">
</form>